<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-right">
      <ion-icon name="home"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-card">
  <ion-card class="welcome-card" color="primary">
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center">SinhaLib</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <ion-icon id="icon-home" name="book-outline"></ion-icon>
    </ion-card-content>
  </ion-card>  
</ion-content>
