<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons  slot="start">
      <ion-menu-button></ion-menu-button> 
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title id="id" class="ion-text-left">
      {{ (bookInfo | async)?.name }}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{ (bookInfo | async)?.author }}</ion-card-subtitle>
      <ion-card-title>{{ (bookInfo | async)?.name }}</ion-card-title>
      <ion-img class="bookimg" [src]="(url | async)"></ion-img>
    </ion-card-header>
  
    <ion-card-content>
      {{ (bookDetail | async)?.summary }}
    </ion-card-content>
  </ion-card>
  
</ion-content>
